/* --- ОБЩИЕ СТИЛИ И ПЕРЕМЕННЫЕ --- */
:root {
  --color-bg-dark: #1E1E1E;
  --color-bg-accent: #F58A07;
  --color-bg-light: #F3F3F3;
  --color-text-on-dark: #FDFDFD;
  --font-main: 'Inter', sans-serif;
}

body {
  background-color: var(--color-bg-light);
  margin: 0;
  font-family: var(--font-main);
}

#app-container {
  position: relative;
  overflow-x: hidden;
}

/* --- СТРУКТУРА КОМПОНЕНТОВ --- */

.component {
  box-sizing: border-box;
}

.header, .experience-block {
  width: 100%;
}

.content-row {
  display: flex;
  width: 100%;
}

/* --- СТИЛИЗАЦИЯ БЛОКОВ --- */

.header {
  background-color: var(--color-bg-dark);
  color: var(--color-text-on-dark);
  padding: 60px;
}

.skills-block {
  background-color: var(--color-bg-accent);
  color: var(--color-text-on-dark);
  flex: 0 0 60%;
  padding: 40px 60px;
}

.empty-block {
  flex: 0 0 40%;
  background-color: var(--color-bg-light);
}

.experience-block {
  background-color: var(--color-bg-dark);
  color: var(--color-text-on-dark);
  padding: 40px 60px;
}

/* --- ТИПОГРАФИКА --- */

.header__name {
  font-size: 52px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.header__title, .header__contact-item {
  font-size: 24px;
  font-weight: 400;
  margin: 4px 0;
}

.skills-block__header, .experience-block__header {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0 0 20px 0;
}

.skills-block__body, .experience-block__body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}